.container {
  display: flex;
  column-gap: 10px;

  a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #666;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s linear;
    user-select: none;
    &:hover {
      background-color: #fe5f1e;
      border: 1px solid #fe5f1e;
      color: #fff;
    }
  }

  :global {
    .selected {
      a {
        color: #fff;
        background-color: #fe5f1e;
        border: 1px solid #fe5f1e;
      }
    }
  }
}
